In [1]:
import pandas as pd

In [2]:
players = pd.read_csv("Players.csv")

In [3]:
players

     Rank      Player  Gold  Silver  Bronze  S Tier  Earnings
0       1       zombs    13       5       1       1  $113,550
1       2     ShahZaM    13       4       1       1  $113,450
2       3        dapr    14       3       1       1  $112,870
3       4        SicK    12       3       1       1  $112,650
4       5        cNed    12       4       2       1  $107,735
..    ...         ...   ...     ...     ...     ...       ...
495   496         Kim     3       4       1       0    $5,555
496   497        Less     3       1       1       0    $5,543
497   498  Senhoachic     7       2       5       0    $5,537
498   499       chase    19      10       2       0    $5,531
499   500     Harmful     6       4       2       0    $5,530

[500 rows x 7 columns]